apiVersion: apps/v1
kind: Deployment
metadata:
  name: example
spec:
  replicas: 5
  selector:
    matchLabels:
      app: example
  template:
    metadata:
      labels:
        app: example
    spec:
      containers:
        - name: example
#          image: docker.io/pronchakov/example
          image: {{ tuple "example-image . | werf_image }}
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 500m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 128Mi